.layerCheck{
    position: fixed;
    top : 0;
    left : 0;
    width : 100%;
    height: 100%;
    background-color: var(--color-light-orange);
    z-index: 500;
}
.PanelOfCheck{
    background-color: var(--color-white);
}