:root{
  --color-first :  #F5EEDC;
  --color-second :  #27548A;
  --color-third :  #183B4E;
  --color-fourth :  #064f609f;
  --color-five :  #DDA853;
  --color-mustdo : #E52020;
  --color-Moderatelly : #B771E5;
  --color-fun : #5B913B;
  --color-delegate : #00BBF0;
  --color-fade : #f5eedc3a;
  --color-light-orange : #ffac4786;
  --color-white : #fff;

}

